KERNEL_ARCH_CFLAGS:=
KERNEL_ARCH_CPPFLAGS:=
KERNEL_ARCH_LDFLAGS:=
KERNEL_ARCH_LIBS:=
 
KERNEL_ARCH_OBJS:=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/set_gdt.o \
$(ARCHDIR)/set_code.o \
$(ARCHDIR)/set_data.o \
$(ARCHDIR)/set_tss.o \
$(ARCHDIR)/set_idt.o \
$(ARCHDIR)/proc.o \
$(ARCHDIR)/interrupt.o \
$(ARCHDIR)/exception.o \
$(ARCHDIR)/pmem_manager.o \
$(ARCHDIR)/vmem_manager.o \
$(ARCHDIR)/syscall.o \
$(ARCHDIR)/elf.o \

